<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-c3jeW8fqkq-fhxH1zO7G0R5QgKaR0cw</string>
	<key>GCM_SENDER_ID</key>
	<string>190010023895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopLifter</string>
	<key>PROJECT_ID</key>
	<string>shop-lifter-5bba5</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-lifter-5bba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190010023895:ios:4af8c499180a4e00e23592</string>
</dict>
</plist>